@font-face {
  font-family: "Luba";
  font-weight: 700;
  src: url("../../assets/LubaSans-Black.otf") format("opentype");
}

.root {
  background: #481a6f;
}

.comuna {
  font-family: Luba;
  fill: white;
  text-transform: uppercase;
}
